.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}

.wrapper {
  display: flex;
  margin-right: 20px;
}

.profileIcon {
  user-select: none;
  background-color: var(--secondary-color);
  color: var(--white-color);

  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.wrapper p {
  line-height: 28px;
  font-size: 24px;
}

.myRewards {
  padding: 10px;
  border: 2px dashed var(--primary-color);
  border-radius: 4px;
}

.myRewards p:first-child {
  margin-bottom: 7px;
}

@media(max-width: 480px) {
  .container {
    flex-direction: column;
    align-items: baseline;
    margin: 20px 10px;
  }

  .wrapper {
    margin-bottom: 20px;
  }

  .wrapper p {
    font-size: 20px;
  }
}