:root {
  --primary-color: #ff6978;
  --secondary-color: #b1ede8;
  --white-color: #fffcf9;
  --light-primary-color: #ffd7dc;
  --dark-color: #6d435a;
  --extra-dark-color: #352d39;
  --grey-color: #7c7c7c;
}