:root {
  --primary-color: #7871aa;
  --secondary-color: #cca7a2;
  --white-color: #fffcf9;
  --light-primary-color: #d5d5ff54;
  --dark-color: #4e5283;
  --extra-dark-color: #352d39;
  --grey-color: #7c7c7c;
}