.list {
  background-color: var(--light-primary-color);
}

.button {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  z-index: 100;
  bottom: 60px;
  right: 20px;
  background-color: var(--dark-color);
  border-radius: 50px;
  text-align: center;
  box-shadow: 2px 2px 8px #999;
  cursor: pointer;
}

.button img {
  width: 20px;
  filter: invert(1);
}